<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/userHome.css">
    <link rel="stylesheet" href="../css/titleCurrency.css">
    <link rel="stylesheet" href="../css/userPage.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384- +0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/wallet.css">
    <link rel="stylesheet" href="../css/formCard.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="../script/wallet.js" defer></script>
    <script src="../script/flImage.js" defer></script>
    <link rel="shortcut icon" href="../img/logo-transparente.png" type="image/x-icon">
    <title>Flamingle</title>
</head>

<body style="color: #0E2431;">
    <main class="cd-main d-block" style="height: 130vh;">
        <div class="profile-page d-flex justify-content-center align-items-center" style=" height: 130vh;">
            <div class="content">
                <div>
                    <div class="content-cover position-relative">
                        <div class=" mb-3 d-flex justify-content-center">
                            <form action="" method="post" enctype="multipart/form-data">
                                <input type="file" id="flImage" name="foto" accept="image/*" style="display: none;">
                                <img onclick="clickphoto()" name="photo" class="content-avatar" id="imgPhoto"
                                    src="../img/usuario.png" alt="">
                        </div>
                        </form>
                        <div class="content-bull"><span></span><span></span><span></span><span></span><span></span>
                        </div>
                    </div>
                    <div class="content-title">
                        <h1>Mavizokas Pimentinha</h1><span>Curitiba, Brasilzao</span>
                    </div>
                    <div class="content-description">
                        <p>26/07/2006</p>
                        <p>mavissss@gmail.com</p>
                    </div>
                    <div class="buttons-views gap-3">
                        <a href="../views/viewUserConvert.html" title="currentConvert">
                            <div class="" id="balloon">
                            </div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="350" height="35" viewBox="0 0 24 24"
                                style="fill: rgb(0, 0, 0, 1);">
                                <path
                                    d="M12 6C7.03 6 2 7.546 2 10.5v4C2 17.454 7.03 19 12 19s10-1.546 10-4.5v-4C22 7.546 16.97 6 12 6zm-8 8.5v-1.197a9.989 9.989 0 0 0 2 .86v1.881c-1.312-.514-2-1.126-2-1.544zm12 .148v1.971c-.867.179-1.867.31-3 .358v-2a21.75 21.75 0 0 0 3-.329zm-5 2.33a18.788 18.788 0 0 1-3-.358v-1.971c.959.174 1.972.287 3 .33v1.999zm7-.934v-1.881a9.931 9.931 0 0 0 2-.86V14.5c0 .418-.687 1.03-2 1.544zM12 13c-5.177 0-8-1.651-8-2.5S6.823 8 12 8s8 1.651 8 2.5-2.823 2.5-8 2.5z">
                                </path>
                            </svg>
                        </a>
                        <a href="../views/walletUser.html" title="Wallet">
                            <div class="" id="balloon">
                            </div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24"
                                style="fill: rgba(0, 0, 0, 1);">
                                <circle cx="15.5" cy="13.5" r="2.5"></circle>
                                <path
                                    d="M12 13.5c0-.815.396-1.532 1-1.988A2.47 2.47 0 0 0 11.5 11a2.5 2.5 0 1 0 0 5 2.47 2.47 0 0 0 1.5-.512 2.486 2.486 0 0 1-1-1.988z">
                                </path>
                                <path
                                    d="M20 4H4c-1.103 0-2 .897-2 2v12c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2zM4 18V6h16l.002 12H4z">
                                </path>
                            </svg>
                        </a>
                        <a data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <div class="" id="balloon">
                            </div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M19 11h-6V5h-2v6H5v2h6v6h2v-6h6z"></path></svg>
                        </a>
                    </div>
                    <section id="wallet" class="d-flex justify-content-center align-items-center flex-column">
                        <div class="swiper mySwiper">
                            <div class="swiper-wrapper">
                              <div class="swiper-slide">
                                <div class="card-container">
                                    <img src="https://pontospravoar.com/wp-content/uploads/2022/09/click_carta%CC%83o-digital.png" alt="">
                                    <div class="carddata-container">
                                        <div class="data">
                                            <p class="label-cardsec">Number</p>
                                            <p class="value">1232324324243</p>
                                        </div>
                                        <div class="data">
                                            <p class="label-cardsec">Name</p>
                                            <p class="value">Chico Moedas</p>
                                        </div>
                                        <div class="data">
                                            <p class="label-cardsec">Exp Date</p>
                                            <p class="value">12/29</p>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                              <div class="swiper-slide">
                                <div class="card-container">
                                    <img src="https://pontospravoar.com/wp-content/uploads/2022/09/click_carta%CC%83o-digital.png" alt="">
                                    <div class="carddata-container">
                                        <div class="data">
                                            <p>Number</p>
                                            <p>1232324324243</p>
                                        </div>
                                        <div class="data">
                                            <p>Name</p>
                                            <p>Chico Moedas</p>
                                        </div>
                                        <div class="data">
                                            <p>Exp Date</p>
                                            <p>12/29</p>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-pagination"></div>
                          </div>
                    </section>
                </div>
            </div>
            <div class="bg">
                <div><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                </div>
            </div>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Criar Cartão</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="form-user" action="/registeruser" method="post">
                        <input id="number-input" type="text" name="numbercard" maxlength="16" required>
                        <span class="label">Número do Cartão</span>
        
                        <input id="username-input" type="text" name="name" required>
                        <span class="label">Nome Completo</span>
        
                        <input id="userbirth-input" type="text" name="validity" maxlength="5" required>
                        <span class="label">Validade</span>

                        <input id="cvv-input" type="text" name="cvv" maxlength="3" required>
                        <span class="label">CVV</span>
                        
                        <input id="bank-input" type="text" name="bank" maxlength="3" required>
                        <span class="label">Código do Banco</span>

                        <div class="agreements">
                          <div class="checkbox">
                              <input type="checkbox" required>
                              <label for="">Eu li e concordo com os <a href="">termos de uso</a> do site.</label>
                          </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                  <input type="submit" id="register-submitbtn">
                </div>
              </div>
            </div>
          </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <script>
      var swiper = new Swiper(".mySwiper", {
        slidesPerView: 1,
        spaceBetween: 30,
        loop: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
    </script>
</body>
</html>
