main {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-side, .right-side {
    width: 50%;
    height: 100%;
}

.left-side {
    position: relative;
    background-color: #f0f0f0;
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 60px 0px 60px;
}

.left-side h2 {
    width: 60%;
    justify-self: center;
    margin-top: 70px;
}

.left-side h2 span {
    color: var(--light-pink);
}

.left-side img {
    z-index: 1;
    align-self: flex-end;
    width: 700px;
}

.right-side {
    background-color: white;
    padding: 80px 80px 40px 80px;
    z-index: 99;
}

form {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

input {
    border-bottom: 1px solid #ccc;
    line-height: 35px;
    padding:5px 15px;
    margin-top: 30px;
    outline: none;
}

.label {
    position: relative;
    top: -33px;
    transition: 0.5s;
    opacity: 0.5;
}

input:focus + .label, input:valid + .label {
    transform: translateY(-40px);
    outline: none;
    font-size: 13px;
}

.checkbox {
    height: fit-content;
}

.checkbox label a {
    color: var(--light-pink);
}

.checkbox input {
    margin: 0;
}

.agreements {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#register-submitbtn {
    width: 70%;
    align-self: center;
    border: 0;
    padding: 10px;
    border-radius: 20px;
    transition: background-color 0.6s ease;
}

#register-submitbtn:hover {
    background-color: var(--light-pink);
}

@media (max-width: 800px) {
    .left-side {
        display: none;
    }

    .right-side {
        width: 100%;
        padding: 50px;
    }
}
