* {
    font-family: "Poppins", sans-serif;

    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
    box-sizing: border-box;
    box-sizing: border-box;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    background-color: white;
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.6);
    z-index: 100;
}



#nav-computer a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    transition: color 0.3s ease;
}

#nav-computer a:hover {
    color: #adadad;
}

#nav-mobile a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: color 0.3s ease;
}

#nav-mobile a:hover {
    color: #adadad;
}

header {
    width: 100%;
    height: 67px;
}

#home-img {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../src/img/home.png');
    background-position: center;
    background-size: cover;
    filter: brightness(0.6); 
    z-index: -1;
    object-fit: cover;
}

#home-content {
    color: white;
}

#btn-home {
    background-color:#7C7879; 
    border: #7C7879; 
    border-radius: 30px;
    transition: 0.3s ease;
}
#btn-home:hover {
    background-color: #FF8DE9;
}

@media (max-width: 900px) {
    #nav-computer {
        display: none;
    }
    #home {
        flex-direction: column;
        gap: 20px;
    }
    #home-title{
        font-size: 25px;
    }
    #input-container {
        width: 250px
    }
}

@media (min-width: 900px) {
    #nav-mobile {
        display: none;
    }
    #home {
        flex-direction: row;
        gap: 30%;
    }
    #home-title{
        font-size: 70px;
    }
    #input-container {
        width: 280px
    }
    #about-img {
        width: 35%;
    }
}

